vgg/round1_train_part3/*
.idea
*.ckpt
*.txt
*.cv

*/__pycache__/*
__pycache__
/round1_answer_a/
/round1_answer_b/
/round1_test_a/
/round1_test_b/
/round1_train_part1/
/round1_train_part2/
/round1_train_part3/
/xuelang_round2_test_a/
/round2_test_a_20180809/
/training/
/vgg/round1_train_part2/*
/vgg/round1_train_part1/*
/vgg/image512
/vgg/imageblur
/vgg/resize
/vgg/resize512
/vgg/round1_test_a
/vgg/VGG_imagenet.npy
/vgg/vgg16_weights.npz
/inception_v4
/resnet/resnet_v1_50.ckpt
/resnet/checkpoint

/.keras/

pred02.csv
pred03.csv
pred4.csv
pred5.csv
pred06.csv
pred07.csv
pred8.csv
pred9.csv
pred11.csv
data
nasnet/round2







